<div class="restaurant-banner">
  <div class="container">
    <h2 class="banner-headline"><strong> Find your perfect table and join the party</strong></h2>
    <br>
    <div class="inline-form booking-search-form">
      <% if params[:search]%>
      <% search_value_date = params[:search][:date] %>
        <% search_value_city = params[:search][:city] %>
        <% search_value_address = params[:search][:address] %>
        <% search_value_food_type = params[:search][:food_type] %>
      <% end %>
      <div>
        <%= simple_form_for :search, url: bookings_path, method: "GET", html: { class: 'form-inline' } do |f| %>
            <%= f.input :city, input_html: {value: search_value_city, placeholder: "London"}, label: false %>
            <% if params[:date] == "" && search_value_date.nil? %>
              <div class="simple-form-input">
                <%= f.input :date, input_html: {class: "datepicker", placeholder: "Date" }, label: false %>
              </div>
            <% elsif params[:date].present? %>
              <div class="simple-form-input">
                <%= f.input :date, input_html: {class: "datepicker", value: params[:date], placeholder: params[:date]}, label: false %>
              </div>
            <% else %>
              <div class="simple-form-input">
                <%= f.input :date, input_html: {class: "datepicker", value: search_value_date, placeholder: search_value_date }, label: false %>

              </div>
            <% end %>
              <div class="simple-form-input">
                <%= f.input :address, input_html: {value: search_value_address, placeholder: "Area" }, label: false %>
              </div>
          <%= f.input :food_type, input_html: {value: search_value_food_type, placeholder: "Cuisine"}, label: false, class: "search-elements" %>
          <%= f.submit "Search", class: "btn-flat search-elements" %>
        <% end %>
      </div>
    </div>
    <p class="link-to-booking-page">Can´t find anything that suits? <strong><span><%= link_to "Create your own booking", "/restaurants" %></span></strong></p>
  </div>

</div>
<div class="container">
  <p class="get-current-location border-bottom pt-4 pb-2"><strong>It looks like you are in London. Not correct? </strong><i class="fas fa-map-marker-alt"> <span class="get-current-location-link"><%= link_to "Get current location" %></span></i></p>
  <h5 class="border-bottom pt-3 pb-1"><strong>Popular bookings in this area</strong></h5>
  <div class="row">
    <div class="col-7">
      <div class="card-resto-home pr-2">
        <% @bookings.each do |booking| %>
          <% @user = booking.user %>
          <% @users = booking.users %>
          <% unless booking.full? || booking.date.past? %>
          <%= link_to booking_path(booking) do %>
            <div class="card-restaurant-index restaurant-info link-card">
              <img style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= booking.restaurant.image_url %>')" />
              <div class="card-restaurant-index-infos d-block">
                <div class="d-flex justify-content-between mt-2 pt-2">
                  <h2> <%= booking.title.truncate(20) %></h2>
                  <p class="mt-1 booking-time"> <%= booking.date.to_formatted_s(:short)  %> </p>
                </div>
                    <h5 class="mt-1 mb-0"><i class="fas fa-utensils"></i>   <%= booking.restaurant.name.truncate(22) %> </h5>
                    <% if booking.restaurant.price == 1 %>
                      <p class="pb-1 mt-0"><%= booking.restaurant.food_type %> · $</p>
                    <% elsif booking.restaurant.price == 2 %>
                      <p class="pb-1"><%= booking.restaurant.food_type %> · $$</p>
                    <% else %>
                      <p class="pb-1"><%= booking.restaurant.food_type %> · $$$</p>
                    <% end %>
                    <p class="pb-1"> <%= booking.restaurant.short_address %>,  <%= booking.restaurant.city %>  </p>
                    <div class="d-flex justify-content-between">
                      <p>
                        <% blank_stars = 5 - booking.restaurant.user_rating %>
                            <% booking.restaurant.user_rating.times do  %>
                            <i class="fas fa-star filledstars"></i>
                            <% end %>
                            <% blank_stars.times do %>
                            <i class="far fa-star blankstars"></i>
                            <% end %>
                        (<%= booking.restaurant.user_reviews %>)
                      </p>
                      <div class="d-flex">
                        <%= link_to "#", data: {toggle: "modal", target: "#allAttendees_#{booking.id}"} do %>
                          <% if booking.user.photo.attached? %>
                              <%= cl_image_tag booking.user.photo.key, class: "ml-1 avatar-bordered-card", alt: "avatar-bordered-card" %>
                          <% else %>
                              <%= cl_image_tag "default_user.png", class: "ml-1 avatar-bordered-card", alt: "avatar-bordered-card" %>
                          <% end %>
                          <% booking.users.each do |user| %>
                            <% if user.photo.attached? %>
                              <%= cl_image_tag user.photo.key, class: "ml-1 avatar-bordered-card", alt: "avatar-bordered-card" %>
                            <% else %>
                              <%= cl_image_tag "default_user.png", class: "ml-1 avatar-bordered-card", alt: "avatar-bordered-card" %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <%= render "shared/modal_all_users", booking: booking %>
          <% end %>
        </div>
      </div>
      <div class="col-5">
        <div class="map-card">
          <div
          id="map"
          style="
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


