<div class="search-bar">
  <form class="form-inline" action='/bookings' method="get">

  <div class="form-group">
      <div class="input-group pr-2 date" id="datetimepicker4" data-target-input="nearest">
          <input placeholder="Select a date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
          <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
      </div>
      <script type="text/javascript">
              $(function () {
                  $('#datetimepicker3').datetimepicker({
                      format: 'LT'
                  });
              });
          </script>
      <div class="input-group pr-2">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Location">
    </div>
    <div class="search-button ">
            <input type="submit" value="Search" class="btn-flat">
          </div>

  </div>
  </form>
</div>
<div class="filter-bar">
</div>

<div class="main-container">
  <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-product">
        <%= link_to(booking_path(booking)) do %>
          <div class="restaurant-info">
            <div class="restaurant-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= booking.restaurant.image_url %>')">
            </div>
            <div class="restaurant-details">
              <div>
                <h2><%= booking.title %></h2>
                <h5> <%= booking.restaurant.name %> </h5>
                <p  class="mb-0"> <%= booking.restaurant.address %> </p>
                <p><%= booking.date %></p>
                <p><%= booking.restaurant.food_type %> · <%= booking.restaurant.price %>£ </p>
                <div class="rating">
                  <p><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="map-card">
      <div
      id="map"
      style="width: 600px;
      height: 800px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

</div>



