<div class="head-bar">
<div>
   <h1><%= @restaurant.name %></h1> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  <h3>
    <%= @booking.title %>
  </h3>
</div>
<div>
  <div class="btn-flat">Join Booking</div>
</div>
</div>
<div class="bookings-details-box">
  <div class="half-width">
    <ul class="cards-holder">
      <li class="attendee">
        <div class="avatar">
          <%#= cl_image_tag @booking.user.photo %>
        </div>
        <div><%= @booking.user.name %> <%= @booking.user.surname %> <br>
          <strong>BIO:</strong> <%= @booking.user.bio %></div>
      </li>
      <% if @booking.groups.exists? %>
        <% @booking.groups.each do |group| %>
          <li class="attendee">
            <div>
              <%= cl_image_tag @booking.user.photo %>
            </div>
            <div>
              <%= group.user.name %> <%= group.user.surname %> <br>
              <strong>BIO:</strong> <%= group.user.bio %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="half-width">restaurant details</div>
</div>

<div class="attendee">
  <div>
    avatar
  </div>
  <div>
    details
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>

<div class="list-group">
        <% @booking.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>
