
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @restaurant.image_url %>')">
  <% if current_user.groups.find_by(booking: @booking) %>
    <div class="booking-button-two">
      <div class="signed-up-booking-button">You are attending this booking -waiting for others to join  <i class="fas fa-info-circle"></i></div>
    </div>
    <div class="container d-flex flex-row-reverse pr-0">
      <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings-up" %>
    </div>
  <% elsif @booking.full? %>
    <div class="booking-button-two">
      <div class="confirmed-booking-button">Booking is confirmed with the restaurant. Have fun!<i class="fas fa-info-circle"></i></div>
    </div>
    <div class="container d-flex flex-row-reverse pr-0">
      <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings-up" %>
    </div>
    <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings-up" %>
  <% elsif current_user == @booking.user %>
    <div class="booking-button-two">
      <div class="signed-up-booking-button">You're the host -waiting for others to join <i class="fas fa-info-circle"></i></div>
    </div>
    <div class="container d-flex flex-row-reverse pr-0">
      <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings-up" %>
    </div>
    <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings-up" %>
  <% end %>
  <% if current_user.bookings.present? %>
    <div class="container d-flex flex-row-reverse pr-0">
      <%= link_to "My bookings", user_path(current_user), class: "btn btn-light check-my-bookings" %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row both-columns">
    <div class="col-md-7">
      <div class="info info-first-column">
        <div>
          <p class="border-bottom details-headline">Booking details</p>
          <p class="pb-0 mb-0"><%= @booking.date.to_formatted_s(:short) %></p>
          <h3 class="pb-0 mb-0 pt-2"><strong><%= @booking.title %></strong></h3>
          <p class="mt-0 pt-2"><%= @booking.description %> </p>
        </div>
        <p class="border-bottom details-headline mt-4">Restaurant details</p>
        <h3><%= @booking.restaurant.name %></h3>
        <p><%= @booking.restaurant.address  %></p>
        <div class="d-flex">
         <p><% blank_stars = 5 - @restaurant.user_rating %>
                            <% @restaurant.user_rating.times do  %>
                            <i class="fas fa-star filledstars"></i>
                            <% end %>
                            <% blank_stars.times do %>
                            <i class="far fa-star blankstars"></i>
                            <% end %>
                        (<%= @restaurant.user_reviews %>) </p>

          <% if @restaurant.price == 1 %>
            <p> · $</p>
          <% elsif @restaurant.price == 2 %>
            <p> · $$</p>
          <% else %>
            <p> · $$$</p>
          <% end %>
        </div>
        <div class="d-flex mb-2">
          <p class="mb-0 highlights-text">Highlights:</p>
          <% @booking.restaurant.highlights.gsub(/["]/, '').remove("[").remove("]").split(",").first(4).each do |highlight| %>
            <div class="highlight-tag"> <%= highlight.strip %></div>
          <% end %>
        </div>
        <div class="restaurant-photos container">
        </div>
        <br>
        <div class="restaurant-photos container">
          <div class="row">
            <% if @pictures.nil? == false %>
              <% @pictures.first(6).each do |picture| %>
                <div class="col-md-4 pr-1 pl-1 mb-3">
                  <div class="small-images-restaurant">
                    <%= cl_image_tag picture["photo"]["thumb_url"], class: "small-images-restaurant" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <br>
        <p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.short_address %></p>
        <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@restaurant.longitude},#{@restaurant.latitude})/#{@restaurant.longitude},#{@restaurant.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w", class: "static-map" %>
      </div>
    </div>
    <div class="col-md-5 pl-0 pr-0">
      <div class="info info-second-column">
        <p class="border-bottom details-headline">Attendee list</p>
        <div class="d-flex">
          <div class="avatar pt-2">
            <%= render "shared/modal_user_profile", attendee: @booking.user %>
          </div>
          <div class="attendee-short-details">
            <h5>
              <%= @booking.user.name %> <%= @booking.user.surname %>
            </h5>
            <p>
              <%= @booking.user.age %> years old
            </p>
            <p>
              From <%= @booking.user.location %>
            </p>
          </div>
        </div>
        <% if @booking.users.exists? %>
          <% @booking.users.each do |attendee| %>
            <div class="d-flex">
              <div class="avatar pt-2">
                <%= render "shared/modal_user_profile", attendee: attendee %>
              </div>
              <div class="attendee-short-details">
                <h5>
                  <%= attendee.name %> <%= attendee.surname %>
                </h5>
                <p>
                  <%= attendee.age %> years old
                </p>
                <p>
                  From <%= attendee.location %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
<!-- here -->
        <% unless current_user.groups.find_by(booking: @booking) || @booking.full? || current_user == @booking.user %>
          <div class="border-bottom mt-4"></div>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-flat join-booking-button" data-toggle="modal" data-target="#firstUsers">Join this booking
            </button>
          </div>
        <% end %>
        <%= render "shared/modal", group: Group.new, booking: @booking %>
        <p class="border-bottom details-headline pt-5">Comments</p>
        <div class="scrollable">
          <% if @booking.comments != nil %>
            <div id="comments">
              <% @booking.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
          <% end %>
            </div>
        <% end %>
          <div class="details mt-4">
            <%= render "comments/form", comment: @comment, booking: @booking %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

