<div class="head-bar">
<div>
   <h1><%= @restaurant.name %></h1> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  <h3>
    <%= @booking.title %>
  </h3>
</div>
<div>
  <div class="btn-flat">Join Booking</div>
</div>
</div>
<div class="bookings-details-box">
  <div class="half-width">
    <ul class="cards-holder">
      <li class="attendee">
        <div class="avatar">
          <%= @booking.user.name %>
          <%= cl_image_tag @booking.user.photo, class: "avatar" %>
        </div>
        <div><%= @booking.user.name %> <%= @booking.user.surname %> <br>
          <strong>BIO:</strong> <%= @booking.user.bio %></div>
      </li>
      <% if @booking.groups.exists? %>
        <% @booking.groups.each do |group| %>
          <li class="attendee">
            <div>
              <%= cl_image_tag group.user.photo %>
            </div>
            <div>
              <%= group.user.name %> <%= group.user.surname %> <br>
              <strong>BIO:</strong> <%= group.user.bio %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="half-width">restaurant details</div>
</div>


