<div class="head-bar">
  <div>
    <h3>
      <%= @booking.title %>
    </h3>
  </div>
  <div>
     <h1><%= @restaurant.name %></h1>
     <% blank_stars = 5 - @restaurant.user_rating %>
          <% @restaurant.user_rating.times do  %>
            <i class="fas fa-star filledstars"></i>
          <% end %>
          <% blank_stars.times do %>
            <i class="far fa-star blankstars"></i>
          <% end %>
  </div>
  <div>
        <% if user_signed_in? %>
          <% if current_user.groups.any? && current_user.groups.find_by(booking: @booking) %>
            <div class="">You're signed up!</div>
          <% elsif @booking.full? %>
            <div>Full</div>
          <% else %>
              <%= render 'group/form', group: Group.new, booking: @booking %>
          <% end %>
        <% end %>

  </div>
</div>
<div class="bookings-details-box">
  <div class="half-width">
    <ul class="cards-holder">
      <li class="attendee">
        <div class="avatar">
          <%#= cl_image_tag @booking.user.photo %>

          <%= @booking.user.name %>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "default_user.png", class: "avatar" %>
          <% end %>


        </div>
        <div><%= @booking.user.name %> <%= @booking.user.surname %> <br>
          <strong>BIO:</strong> <%= @booking.user.bio %></div>
      </li>
      <% if @booking.groups.exists? %>
        <% @booking.groups.each do |group| %>
          <li class="attendee">
            <div>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default_user.png", class: "avatar" %>
              <% end %>
            </div>
            <div>
              <%= group.user.name %> <%= group.user.surname %> <br>
              <strong>BIO:</strong> <%= group.user.bio %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="half-width">
    <div class="restaurant-details">
      <div class="details">
        <strong>Restaurant Details</strong>
      </div>
      <div class="details">
        placeholder for image
      </div>
      <div class="details">

      </div>
      <div class="details">
        <%= @restaurant.address %>
      </div>
      <div class="details">
        <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@restaurant.longitude},#{@restaurant.latitude})/#{@restaurant.longitude},#{@restaurant.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w" %></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review" %>
      <% end %>
    </div>
  </div>
</div>

<div class="list-group">
        <% @booking.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for [@booking, @comment] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Send your comments" %>
      <% end %>
    </div>
  </div>
</div>



