<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
  Launch demo modal
</button>
 -->
<!-- Modal -->
<% if @user.present? %>
  <div class="modal fade" id="attendeeModal" tabindex="-1" role="dialog" aria-labelledby="attendeeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="first-user">
            <div class="attendee-details d-flex">

              <%= cl_image_tag @user.photo.key, class: "ml-1 avatar-bordered-card-all-attendees", alt: "avatar-bordered-card-all-attendees" %>
              <div>
                <p class="attendee-name"> <%= @user.name %> <%= @user.surname %> </p>
                <p class="attendee-age-location"> <%= @user.age %> from <%= @user.location %> </p>
              </div>
            </div>
            <div class="attendee-other-info pl-2 border-bottom">
              <p class="title">Bio</p>
              <p> <%= @user.bio %></p>
              <p class="title">Interests</p>
              <p> <%= @user.interests %></p>
              <p class="title">Social media</p>
              <div class="footer-links footer-links-attendees">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
   <% end %>
   <% if @users.present? %>
        <% @users.each do |user|  %>
          <div class="other-users">
            <div class="attendee-details d-flex">
              <%= cl_image_tag user.photo.key, class: "ml-1 avatar-bordered-card-all-attendees", alt: "avatar-bordered-card-all-attendees" %>
              <div>
                <p class="attendee-name"> <%= user.name %> <%= user.surname %> </p>
                <p class="attendee-age-location"> <%= user.age %> from <%= user.location %> </p>
              </div>
            </div>
            <div class="attendee-other-info pl-2 border-bottom">
              <p class="title">Bio</p>
              <p> <%= user.bio %></p>
              <p class="title">Interests</p>
              <p> <%= user.interests %></p>
              <p class="title">Social media</p>
              <div class="footer-links footer-links-attendees">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <button type="button" class="btn btn-flat" data-dismiss="modal">Back to bookings</button>
      </div>
    </div>
  </div>
</div>
<% end %>
