<div class="restaurant-banner">
  <div class="container">
    <h2 class="banner-headline"><strong> Choose a restaurant you love</strong></h2>
    <br>
    <div class="inline-form">
      <% if params[:search]%>
        <% search_value_city = params[:search][:city] %>
        <% search_value_address = params[:search][:address] %>
        <% search_value_food_type = params[:search][:food_type] %>
      <% end %>
      <%= simple_form_for :search, url: restaurants_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :city, input_html: {value: search_value_city, placeholder: "London"}, label: false %>
        <div class="search-elements">
          <%= f.input :address, input_html: {value: search_value_address, placeholder: "Select area"}, label: false %>
        </div>
        <%= f.input :food_type, input_html: {value: search_value_food_type, placeholder: "Select cuisine"}, label: false, class: "search-elements" %>
        <%= f.submit "Search", class: "btn-flat search-elements" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <p class="get-current-location border-bottom pt-4 pb-2"><strong>It looks like you are in London. Not correct? </strong><i class="fas fa-map-marker-alt"> <span class="get-current-location-link"><%= link_to "Get current location" %></span></i></p>
  <h5 class="border-bottom pt-3 pb-1"><strong>Popular restaurants in this area</strong></h5>

  <div class="row">
    <div class="col-7">
      <div class="card-resto-home pr-2">
        <% @restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
            <div class="card-restaurant-index restaurant-info link-card">
              <img style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= restaurant.image_url %>')" />
              <div class="card-restaurant-index-infos">
                    <h2 class="pt-4"> <%= restaurant.name %> </h2>
                    <p class="pt-2"> <%= restaurant.short_address %>,  <%= restaurant.city %>  </p>
                    <% if restaurant.price == 1 %>
                      <p class="pt-2 pb-2"><%= restaurant.food_type %> · $</p>
                    <% elsif restaurant.price == 2 %>
                      <p class="pt-2 pb-2"><%= restaurant.food_type %> · $$</p>
                    <% else %>
                      <p class="pt-2 pb-2"><%= restaurant.food_type %> · $$$</p>
                    <% end %>
                    <p>
                      <% blank_stars = 5 - restaurant.user_rating %>
                          <% restaurant.user_rating.times do  %>
                          <i class="fas fa-star filledstars" style="color: #1EDD88"></i>
                          <% end %>
                          <% blank_stars.times do %>
                          <i class="far fa-star blankstars" style="color: #1EDD88"></i>
                          <% end %>
                      (<%= restaurant.user_reviews %>)
                    </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>


    <div class="col-5">
      <div class="map-card">
        <div
        id="map"
        style="
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>

  </div>
</div>
<%= render 'shared/footer' %>
