
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @restaurant.image_url %>')">
</div>
<div class="main-container">
  <div class="info p-5">
    <h3 class="pb-4 border-bottom"><strong><%= @restaurant.name %></strong></h3>
      <p> <%= @restaurant.food_type %></p>
    <div class="d-flex">

     <p><% blank_stars = 5 - @restaurant.user_rating %>
                        <% @restaurant.user_rating.times do  %>
                        <i class="fas fa-star filledstars"></i>
                        <% end %>
                        <% blank_stars.times do %>
                        <i class="far fa-star blankstars"></i>
                        <% end %>
                    (<%= @restaurant.user_reviews %>) </p>

      <% if @restaurant.price == 1 %>
        <p> · $</p>
      <% elsif @restaurant.price == 2 %>
        <p> · $$</p>
      <% else %>
        <p> · $$$</p>
      <% end %>
    </div>
    <div class="d-flex mb-4">
      <p class="mb-0 highlights-text">Highlights:</p>
      <% @restaurant.highlights.gsub(/["]/, '').remove("[").remove("]").split(",").first(4).each do |highlight| %>
        <div class="highlight-tag"> <%= highlight.strip %></div>
      <% end %>
    </div>
    <div class="restaurant-photos container">
      <div class="row">
        <% if @pictures.nil? == false %>
          <% @pictures.first(6).each do |picture| %>
            <div class="col-md-4 pr-1 pl-1 mb-3">
              <div class="small-images-restaurant">
                <%= cl_image_tag picture["photo"]["thumb_url"], class: "small-images-restaurant" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.address %></p>
    <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@restaurant.longitude},#{@restaurant.latitude})/#{@restaurant.longitude},#{@restaurant.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w" %>
  </div>
  <div class="booker pt-3">
    <p class="border-bottom booking-details-text"><strong>Booking details</strong></p>
    <div class="location-text">
      <p class="location-text"><i class="fas fa-map-marker-alt"></i><strong>  Location</strong></p>
      <p class="location-text"><%= @restaurant.short_address %></p>
    </div>
    <p class="location-text pt-3"><strong><i class="fas fa-clock"></i>  Select date and time:</strong></p>
    <div class="booking-details pb-4">
        <%= simple_form_for [@restaurant, Booking.new] do |b| %>
          <%= b.error_notification %>
          <div class="form-group">
              <div class="timepicker-booking-show timepicker-js">
                <%= b.input :date, as: :string, label: false, input_html: {class: "timepicker location-text"}, placeholder: "Date" %>

              </div>
              <p class="location-text pt-2"><strong><i class="fas fa-info-circle"></i>  Add booking info:</strong></p>
              <div id="booking-success"></div>
            <%= b.input :title, as: :text, input_html: { :style=> 'width: 100%;', :rows => 2, :placeholder=> "Add a short booking title"}, label: false, class: "input-message location-text" %>
            <%= b.input :description, as: :text, input_html: { :style=> 'width: 100%;', :rows => 4, :placeholder=> "Add a message to the other users. Make it stand out!"}, label: false, class: "input-message location-text" %>
            <%= b.submit "Create new booking", class: "btn btn-flat d-flex search-button" %>
          </div>
        <% end %>
    </div>
  </div>
  </div>
</div>
<br>
<br>
