
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @restaurant.image_url %>')">
</div>
<div class="main-container">
  <div class="info">
    <h3 class="pb-4 border-bottom"><strong><%= @restaurant.name %></strong></h3>
      <p> <%= @restaurant.food_type %></p>
    <div class="d-flex">
      <p><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> <%= @restaurant.user_rating %> (<%= @restaurant.user_reviews %>)</p>
      <% if @restaurant.price == 1 %>
        <p> · $</p>
      <% elsif @restaurant.price == 2 %>
        <p> · $$</p>
      <% else %>
        <p> · $$$</p>
      <% end %>
    </div>
    <div class="d-flex mb-4">
      <p class="mb-0 highlights-text">Highlights:</p>
      <% @restaurant.highlights.gsub(/["]/, '').remove("[").remove("]").split(",").first(4).each do |highlight| %>
        <div class="highlight-tag"> <%= highlight.strip %></div>
      <% end %>
    </div>
    <div class="restaurant-photos container">
      <div class="row">
        <% @pictures.first(6).each do |picture| %>
          <div class="col-md-4 pr-1 pl-1 mb-3">
            <div class="card-product">
              <img style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= picture["photo"]["thumb_url"] %>')" />
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <p><i class="fas fa-map-marker-alt"></i> <%= @restaurant.short_address %></p>
    <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@restaurant.longitude},#{@restaurant.latitude})/#{@restaurant.longitude},#{@restaurant.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w" %>
  </div>
    <div class="booker">
      <p class="border-bottom booking-details-text pb-3"><strong>Booking details</strong></p>
      <p class="location-text"><strong>Location</strong></p>
      <p class="location-text"><%= @restaurant.address %></p>
      <div class="booking-details border-bottom pmb-4">
        <%= simple_form_for [@restaurant, Booking.new] do |b| %>
          <%= b.input :date, label: "Select date and time", class: "location-text" %>
          <%= b.input :title, as: :text, input_html: { :style=> 'width: 100%;', :rows => 4, :placeholder=> "Add a message to the other attendees!"}, label: false, class: "input-message location-text" %>
          <%= b.submit "Create new booking", class: "btn btn-flat d-flex search-button" %>
        <% end %>
      </div>
    <div>
  </div>
</div>
</div>
<br>
<br>
<%= render 'shared/footer' %>




