
<div class="booking-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @restaurant.image_url %>')">
</div>
<div class="main-container">
  <div class="info">
    <h3 class="pb-4 border-bottom"><%= @restaurant.name %></h3>
    <div class="d-flex">
      <p><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></p>
      <p> · food_type</p>
      <p> · $$$</p>
    </div>
    <br>
    <div class="d-flex mb-4">
      <p class="mb-0 highlights-text">Highlights:</p>
      <div class="highlight-tag">test</div>
      <div class="highlight-tag">test</div>
      <div class="highlight-tag">test</div>
      <div class="highlight-tag">test</div>
    </div>
    <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-l(#{@restaurant.longitude},#{@restaurant.latitude})/#{@restaurant.longitude},#{@restaurant.latitude},15/500x300?access_token=pk.eyJ1IjoidG9taHVkc29uODkiLCJhIjoiY2s0MGN4NDJvMDBmZTNlc2Y3YzdheG02ciJ9.CbThae_pau01vd-Br--z3w" %>
  </div>
    <div class="booker">
      <p class="border-bottom booking-details-text pb-3"><strong>Booking details</strong></p>
      <p class="location-text"><strong>Location</strong></p>
      <p class="location-text"><%= @restaurant.address %></p>
      <div class="booking-details border-bottom pmb-4">
        <div class="location-text">
          <p><strong>Date</strong></p>
          <p>Wed, 2/26</p>
        </div>
        <div class="location-text">
          <p class="time-text"><strong>Time</strong></p>
          <p>9:30pm</p>
        </div>
      </div>
        <div>
      <p class="location-text mb-2 mt-4">Message to other attendees:</p>
      <form>
        <div class="form-group">
          <textarea class="form-control location-text" id="messagetoguests" rows="3" placeholder="Tell the others a bit more about yourself"></textarea>
        </div>
      </form>
    </div>
      <%= render 'bookings/form', booking: Booking.new, restaurant: @restaurant %>
    </div>
  </div>




